.text-center {
    text-align: center;
}


.container {
    display: flex;
    flex-direction: row-reverse; /* Aligne les éléments de droite à gauche */
    justify-content: space-between; /* Pour répartir l'espace disponible entre les éléments */
  }

.films-container, .seances-container {
    // width: calc(10.33% - 10px); /* 10.33% de largeur pour afficher trois éléments par ligne avec un espacement de 10px entre eux */
    margin: 10px; /* Espacement entre les éléments */
    box-sizing: border-box; 
  }


.films-container {
    display: flex;
    flex-wrap: wrap; /* Permet aux éléments de passer à la ligne si nécessaire */
    width: 100%;
  }
  p-carousel {
    width: 100%;
  }
  
  .film-card {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
  }
  
  .film-card:hover {
    transform: scale(1.05);
  }
  
  .film-card.hovered img {
    filter: brightness(80%);
  }
  .seance-item {
    margin-bottom: 10px; /* Espacement entre les éléments */
  }
h3 {
  text-decoration: underline;
  font-style: italic;
}
strong {
  text-decoration: underline;
  font-style: italic;
}
h2 {
  text-decoration: underline;
  text-transform: uppercase;
  font-style: italic;
  color: white;
}
.category {
  text-align: center;
  padding: 20px;
  border: 2px solid white;
  border-radius: 10px;
  width: 200px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.category:hover {
  background-color: white;
}
.custom-header {
  font-size: 20px;
  color: black;
  background-color: rgb(209, 201, 201);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.custom-header:hover {
  background: linear-gradient(to right, rgb(85, 85, 85), rgb(205, 200, 200));
}



