.navbar {
    padding: 6px;
    margin-right: 350px;
}
.nav-item {
    display: inline-block;
    margin-right: 110px;
}
.bold-text {
    font-weight: bold;
    color: white;
}
option {
    color: black;
    font-weight: bold;
    display: inline-block;
}
