<!-- <nav class="navbar">
    <div class="container">
        <ul class="navbar-nav"> -->
   
 
    <p-menubar>
        <ng-template pTemplate="start">
            <img src="https://primefaces.org/cdn/primeng/images/primeng.svg" height="40" class="mr-2" />
        </ng-template>
        

        <nav class="navbar">


            <ul class="p-menubar-end">


                <!-- <li class="nav-item"><a p-menuitem routerLink="/home" class="mr-2" class="bold-text">Home</a></li> -->



                <!-- <li class="nav-item"><a p-menuitem routerLink="/film" class="mr-2" class="bold-text">Film</a></li> -->
            
            

                <!-- <li class="nav-item"><a p-menuitem routerLink="/seance" class="mr-2" class="bold-text">Seance</a></li> -->



                <!-- <li class="nav-item"><a p-menuitem routerLink="/reservation" class="mr-2" class="bold-text">Reservation</a></li> -->



                <!-- <li class="nav-item"><a p-menuitem routerLink="/register" class="mr-2" class="bold-text">Register</a></li> -->
            

            
                <!-- <li class="nav-item"><a p-menuitem routerLink="/login" class="mr-2" class="bold-text">Login</a></li> -->

                <select [(ngModel)]="selectedOption" class="mr-2">
                    <option disabled selected hidden value="">Accueil</option>
                    <option value="Home" routerLink="/home">Home</option>
                </select>



                <select [(ngModel)]="selectedOption" class="mr-2">
                    <option disabled selected hidden value="">Films & Seances</option>
                    <option value="Films" routerLink="/films">Films</option>
                    <option value="Seances" routerLink="/seances">Seances</option>
                </select>



                <select [(ngModel)]="selectedOption" class="mr-2">
                    <option disabled selected hidden value="">Réservations</option>
                    <option value="Réservation" routerLink="/reservation">Réservations</option>
                </select>



                <select [(ngModel)]="selectedOption" class="mr-2">
                    <option disabled selected hidden value="">Inscription</option>
                    <option value="Register" routerLink="/register">Register</option>
                    <option value="Login" routerLink="/login">Login</option>
                </select>
        </ul>

        </nav>
        
        
    </p-menubar>

    

