.logout-btn {
    background-color: transparent; 
    color: #ffffff; 
    border: none; 
    padding: 10px 20px; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease;
  }
  
  .logout-btn:hover {
    background-color: #ff3b20; 
  }


  
  
  





