<div class="background-container">

  <form class="login-container" [formGroup]="userForm"  (ngSubmit)="onSubmit()">
    <p-messages [(value)]="messages" [enableService]="false" [closable]="true"></p-messages>
    <div style="display: flex; align-items: center;">
      <p-progressBar *ngIf="cooldownProgress > 0" mode="indeterminate" [style]="{ 'width': '100%', 'height': '6px', 'margin-right': '225px' }"></p-progressBar>
      <span *ngIf="cooldownProgress > 0">{{ cooldownProgress }}%</span>
    </div>
    



      <i><u><h2>Login</h2></u></i>

      <div class="p-fluid">

          <div class="p-field" [ngStyle]="{'border-color': userForm.controls['username'].dirty && userForm.controls['username'].invalid ? 'red' : userForm.controls['username'].dirty && userForm.controls['username'].valid ? 'green' : ''}">
            <label for="username">Username:</label>
            <input type="text" id="username" pInputText name="username" formControlName="username" required minlength="5" maxlength="15"/>
            <div *ngIf="userForm.controls['username'].invalid && (userForm.controls['username'].dirty || userForm.controls['username'].touched)" class="p-error">
              <div *ngIf="userForm.controls['username'].errors?.['required']">Username is required</div>
              <div *ngIf="userForm.controls['username'].errors?.['minlength']">Username must be at least 5 characters long</div>
              <div *ngIf="userForm.controls['username'].errors?.['maxlength']">Username cannot be longer than 15 characters</div>
            </div>
          </div>

          <div class="p-field" [ngStyle]="{'border-right-color': userForm.controls['password'].dirty && userForm.controls['password'].invalid ? 'red' : userForm.controls['password'].dirty && userForm.controls['password'].valid ? 'green' : ''}">
            <label for="password">Password:</label>
            <input type="password" id="password" pInputText formControlName="password" name="password" required minlength="5" maxlength="15"/>
         
            <div *ngIf="userForm.controls['password'].invalid && (userForm.controls['password'].dirty || userForm.controls['password'].touched)" class="p-error">
              <div *ngIf="userForm.controls['password'].errors?.['required']">Password is required</div>
              <div *ngIf="userForm.controls['password'].errors?.['minlength']">Password must be at least 5 characters long</div>
              <div *ngIf="userForm.controls['password'].errors?.['maxlength']">Password cannot be longer than 15 characters</div>
            </div>
          </div>
          <button type="submit" icon="pi pi-sign-in" pButton label="Login" class="p-button-success p-button-outlined"[disabled]="!userForm.valid"></button>
          <button type="submit" icon="pi pi-user-plus" pButton label="S'enregistrer" class="p-button-help p-button-outlined" routerLink="/register"></button>
        </div>
  </form>
</div>
  
  
  
  
  
  
