<app-navbar></app-navbar>
<!-- <main>
    <h2>Login</h2>
    <div class="login-container">
        
        
        <form id="monLogin" [formGroup]="userForm" (ngSubmit)="onSubmit()" method="POST">
            <div class="p-field">
                <label for="username">Username:</label>
                <input type="text" id="username" formControlName="username" pInputText  name="username" required>
            </div>

            <div class="p-field">
                <label for="password">Password:</label>
                <input type="password" id="password" formControlName="password" pPassword name="password" required>
            </div>

            <button type="submit" pButton label="Login" class="p-button-success p-button-outlined"></button>
        </form>
    </div>
</main> -->

<form class="login-container" [formGroup]="userForm"  (ngSubmit)="onSubmit()">


    <h2>Login</h2>

    <div class="p-fluid">

        <div class="p-field" [ngStyle]="{'border-right-color': userForm.controls['username'].dirty && userForm.controls['username'].invalid ? 'red' : userForm.controls['username'].dirty && userForm.controls['username'].valid ? 'green' : ''}">
          <label for="username">Username</label>
          <input type="text" id="username" pInputText name="username" formControlName="username" required minlength="5" maxlength="15"/>
          <div *ngIf="userForm.controls['username'].invalid && (userForm.controls['username'].dirty || userForm.controls['username'].touched)" class="p-error">
            <div *ngIf="userForm.controls['username'].errors?.['required']">Username is required</div>
            <div *ngIf="userForm.controls['username'].errors?.['minlength']">Username must be at least 5 characters long</div>
            <div *ngIf="userForm.controls['username'].errors?.['maxlength']">Username cannot be longer than 15 characters</div>
          </div>
        </div>

        <div class="p-field" [ngStyle]="{'border-right-color': userForm.controls['password'].dirty && userForm.controls['password'].invalid ? 'red' : userForm.controls['password'].dirty && userForm.controls['password'].valid ? 'green' : ''}">
          <label for="password">Password</label>
          <input type="password" id="password" pInputText formControlName="password" name="password" required minlength="5" maxlength="15"/>
          <div *ngIf="userForm.controls['password'].invalid && (userForm.controls['password'].dirty || userForm.controls['password'].touched)" class="p-error">
            <div *ngIf="userForm.controls['password'].errors?.['required']">Password is required</div>
            <div *ngIf="userForm.controls['password'].errors?.['minlength']">Password must be at least 5 characters long</div>
            <div *ngIf="userForm.controls['password'].errors?.['maxlength']">Password cannot be longer than 15 characters</div>
          </div>
        </div>
        <button type="submit" pButton label="Login" class="p-button-success p-button-outlined"></button>
      </div>
</form>
  
  
  
<!-- [disabled]="!userForm.valid" -->
  
  
  
