<div class="container">
    <ng-container *ngIf="!userService.isLogged">
        <p-messages [(value)]="messages" [enableService]="false" [closable]="true"></p-messages>
    </ng-container>

    <p-table *ngIf="userService.isLogged" [value]="salles">
        <ng-template pTemplate="header">
            <tr>
                <th>Nom des salles</th>
                <th>Capacités</th>
                <th>Personnes</th>
                <th>Films</th>
                <th>États</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-salle>
            <tr>
                <td>{{salle.nom}}</td>
                <td>{{salle.capacite}}</td>
                <td>{{salle.personne}}</td>
                <td>{{salle.film}}</td>
                <td [ngClass]="{'occupee': salle.etat === 'Occupée', 'libre': salle.etat === 'Libre'}">
                    <span *ngIf="salle.etat === 'Occupée'"><strong>Occupée</strong></span>
                    <span *ngIf="salle.etat === 'Libre'"><strong>Libre</strong></span>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
