<!-- <h2>Gestion des Salles</h2> -->

<p-table [value]="salles">
    <ng-template pTemplate="header">
        <tr>
            <th>Nom des salles</th>
            <th>Capacités</th>
            <th>Personnes</th>
            <th>Films</th>
            <th>États</th>


            <!-- <th>Occupation</th> -->



        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-salle>
        <tr>
            <td>{{salle.nom}}</td>
            <td>{{salle.capacite}}</td>
            <td>{{salle.personne}}</td>
            <td>{{salle.film}}</td>
            <td [ngClass]="{'occupee': salle.etat === 'Occupée', 'libre': salle.etat === 'Libre'}">
                <span *ngIf="salle.etat === 'Occupée'"><strong>Occupée</strong></span>
                <span *ngIf="salle.etat === 'Libre'"><strong>Libre</strong></span>
            </td>

            <!-- <td [ngClass]="{'plein': salle.personne === 50, 'non-plein': salle.personne !== 50 && salle.personne > 0, 'vide': salle.personne === 0}">
                <span *ngIf="salle.personne === 50"><strong>Plein</strong></span>
                <span *ngIf="salle.personne !== 50 && salle.personne > 0"><strong>Non plein</strong></span>
                <span *ngIf="salle.personne === 0"><strong>Vide</strong></span>
            </td> -->
            
            


        </tr>
    </ng-template>
</p-table>

