@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
body {
    font-family: Arial, sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    
}