.background-container {
  display: flex;
  flex-direction: column; /* Pour empiler verticalement les éléments */
  justify-content: center; /* Centre verticalement */
  align-items: center; /* Centre horizontalement */
  height: 100vh; /* Assure que le conteneur occupe toute la hauteur de la vue */
}

.films-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centre horizontalement */
  margin-top: 20px; /* Espacement entre le titre et la section des films */
}
h2 {
  color: white;
}
h1 {
  color: white;
}


.film-card {
  position: relative;
  overflow: hidden;
  margin: 10px;
  box-sizing: border-box;
  transition: transform 0.3s ease;
}

.film-card img {
  display: block;
  width: 200px; /* Ajoutez une largeur fixe à vos images */
  height: 300px; /* Ajoutez une hauteur fixe à vos images */
  transition: filter 0.3s ease; /* Ajoutez une transition pour le filtre */
}

.film-card:hover img {
  filter: brightness(80%);
}

.category {
  text-align: center;
  padding: 20px;
  border: 2px solid white;
  border-radius: 10px;
  width: 200px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.category:hover {
  background-color: white;
}

.custom-header {
  font-size: 20px;
  color: black;
  background-color: rgb(209, 201, 201);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.custom-header:hover {
  background: linear-gradient(to right, rgb(85, 85, 85), rgb(205, 200, 200));
}
