.background-container {
  display: flex;
  flex-direction: column; /* Pour empiler verticalement les éléments */
  justify-content: center; /* Centre verticalement */
  align-items: center; /* Centre horizontalement */
  height: 100vh; /* Assure que le conteneur occupe toute la hauteur de la vue */
}


.films-container {
  display: flex;
  flex-wrap: wrap; /* Permet aux éléments de passer à la ligne si nécessaire */
  width: 100vh;
  color: white;
}

h2 {
  text-decoration: underline;
  text-transform: uppercase;
  font-style: italic;
  color: white;
}
h1 {
  text-decoration: underline;
  color: white;
}


.film-card {
  position: relative;
  overflow: hidden;
  margin: 10px;
  box-sizing: border-box;
  transition: transform 0.3s ease;
}

.film-card img {
  display: block;
  width: 200px; /* Ajoutez une largeur fixe à vos images */
  height: 300px; /* Ajoutez une hauteur fixe à vos images */
  transition: filter 0.3s ease; /* Ajoutez une transition pour le filtre */
}

.film-card:hover img {
  filter: brightness(80%);
}

.category {
  text-align: center;
  padding: 25px;
  border: 2px solid white;
  border-radius: 10px;
  width: 200px;
  transition: background-color 0.3s ease;
  text-decoration: underline;
  height: 150px; /* Ajout de la hauteur fixe */

}
.info-button {
  margin-top: 10px; /* Ajustez la marge supérieure selon vos préférences */
}


.category:hover {
  background-color: black;
}
.button {
  cursor: pointer;
  height: 40px; /* Ajoutez la hauteur fixe ici */
}



.film-details {
  padding: 20px;
}