<div class="background-container">
  <ng-container *ngIf="userService.isLogged">
    <p-messages [(value)]="messages" [enableService]="false" [closable]="true"></p-messages>
  </ng-container>


  
  
  <h1>Bienvenu(e) sur la gestion de cinema</h1>
  <h2>Films à l'Affiche</h2>

  <div class="films-container">
    <p-carousel [value]="films" [numVisible]="3" [numScroll]="3">
      <ng-template let-film pTemplate="item">
        <div class="film-card">
          <img [src]="film.imageUrl" width="200" height="300">
          <div class="category">
            <h3>{{film.title}}</h3>
            <!-- <p><strong>Genre:</strong> {{film.genre}}</p>
            <p><strong>Directeur:</strong> {{film.director}}</p>
            <p><strong>Durée:</strong> {{film.duration}}</p> -->
            <button pButton type="button" label="Infos film" icon="pi pi-book" class="info-button p-button-success p-button-rounded p-button-outlined" (click)="showModal(film)"></button>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>

  <p-dialog  [(visible)]="displayModal" [modal]="true">
    <div *ngIf="selectedFilm" class="film-details">
      <img [src]="selectedFilm.imageUrl" width="200" height="300">
      <p><strong>Titre:</strong> {{selectedFilm.title}}</p>
      <p><strong>Genre:</strong> {{selectedFilm.genre}}</p>
      <p><strong>Directeur:</strong> {{selectedFilm.director}}</p>
      <p><strong>Durée:</strong> {{selectedFilm.duration}}</p>
      <p><strong>Description:</strong> {{selectedFilm.description}}</p>
    </div>
    <button pButton type="button" label="Fermer" icon="pi pi-times" class="p-button-danger p-button-rounded p-button-outlined"(click)="hideModal()"></button>
  </p-dialog>
</div>
