.register-container {
    width: 300px;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .register-container h2 {
    text-align: center;
    color: rgb(104, 104, 231);

  }
  
  .p-field {
    margin-bottom: 1rem;
    font-weight: bold;
  }
  
  button {
    width: 100%;
  }
  .background-container {
    background-image: url('/assets/Cinema.png');
    background-size: cover; /* Pour que l'image de fond couvre toute la surface */
    background-position: center; /* Pour centrer l'image */
    height: 100vh; /* Hauteur égale à la hauteur de la fenêtre */
    width: 100%; /* Largeur égale à la largeur de la fenêtre */
    position: fixed; /* Fixer l'élément pour qu'il reste en arrière-plan */
    left: 0; /* Aligner à gauche */
  }